body{
    margin: 0px;

}
.mepage{
    height: 50%;
    width: 100%;
    display: flex;
    background-color: rgb(59, 61, 81);
}


.leftside{
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.rightside{
    height: 100%;
    width: 50%;
    
    display: flex;
}
.img{
    position: relative;
    height: 100%;
    width: 40%;
    display: flex;
}

.content{
    
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    /* display: none; */
}
#myimg{
    height: 250px;
    width: 300px;
    animation: complete 1s ease-in both;
    
}
.tracking{
    border: 3px solid orange;
    width: 40%;
    height: 40%;
    left: 30%;
    margin-top: 10px;
    animation: animate 1s linear forwards;
    position: absolute;    
    z-index: 10;
}
.whiteline{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    animation: tracker 1s ease-in both;
    animation-delay: 1s;
}

@keyframes animate {
    0%{

        height: 0px
    }
    30%{
        
        height: 0px
    }

    60%{
        height: 30px
    }
}

@keyframes tracker {
    0%
    {
    height: 0px;
    }

    50%{
        height:100px;
    }

    100%{
        height: 0px;
    }


}

.leftsideri{
    display: flex;

    color: rgb(171, 171, 171);
    font-family: 'Rajdhani', sans-serif;
    font-weight: 50;

}

.contact{
    font-family: 'Rajdhani', sans-serif; ;
    color: orange;
    margin-left: -35%;
}
.notification{
    font-size: 0.7rem;
    animation: complete 0.2s ease-in both;
    animation-delay: 2s;

}
@keyframes loading {
0%
{
    transform: translateX(-100%);
    opacity: 0%;
}

20%{
    opacity: 0%;
}

60%{

   transform: translateX(0%);
   opacity: 100%;

}


}
@keyframes complete {
    from
    {
        /* transform: translateX(900px); */
        opacity: 0%;
    }

    to{
        /* transform: translateX(0px); */
    opacity: 100%;
    }


}

.name{
    font-family: 'Rajdhani', sans-serif;
    font-size: 4rem;
    color: white;
    animation:complete 1s ease-in both ;
    animation-delay: 0;
}
.content{
    margin-left: 30%;
}
.orangeline{
    height: 5px;
    width: 70px;
    background-color: orange;
    border-radius: 30px;
    margin-left: -220px;
    animation:loading 2s ease-in both ;
    animation-delay: 0;

}

.links{
    height: 20px;
    width: 150px;
    margin-top: 10px;
    margin-left: -120px;
    color: grey;
    display: flex;
    justify-content: space-between;
    animation: complete 2s ease-in both;

}
.icons:hover{
    color: orange;
}

.introall{
    font-size: 1rem;
    color: white;
    margin-left: 30px;

}
.intro{
    margin-top: 5px;
    animation: complete 1s ease-in both;
    animation-delay: 4s;
}


.detail{
    font-size: 1.6rem;
    color: orange;
    animation: complete 1s ease-in both;
    animation-delay: 3s;
    margin-top: 10px;
    margin-left: 30px;
}

.aftermecontent{
    width: 100%;
    height: 300px;
    background-color: rgb(40, 42, 56);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly;
    
}
.after{
    height: 70%;
    width: 30%;
    background-color: rgb(59, 61, 81);
    transition: 0.30s;
    animation: complete 1s ease-in both;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.3rem;


}
.after:hover{
    -webkit-box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);
    box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);


}

.roshancontent{
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.3rem;
}

.skills{
    height: 70%;
    min-width: 30%;
    margin-top: 180px;
    background-color: rgb(59, 61, 81);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.skillbox{
    margin-top: 10%;
    border: 2px solid rgb(86, 89, 110);
    height: 200px;
    width: 300px;
    background-color:rgb(40, 42, 56) ;
    color: white;
    font-family:'Rajdhani', sans-serif ;
    display: flex;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    transition-duration: 0.50s;

    
}

.skillbox:hover{
    -webkit-box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);
    box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);
}

.logo{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt{

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myskills{
    font-size: 1.6rem;
    color: orange;
    animation: complete 1s ease-in both;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 250px;
    width: 100px;
}

.projects{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.projectstxt{
    display: flex;

}
.childtxt{
    font-family: 'Rajdhani', sans-serif; ;
    color: orange;
    font-size: 2rem;
    padding: 20px;
}

.firstprojects{
    display: flex;
    padding: 80px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.projectcontent{
    height: 300px;
    width: 400px;
    border-radius: 30px;
    
}

#cardp{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    transition-duration: 0.60s;
}
#cardp:hover{
    width: 110%;
    height: 110%;
    -webkit-box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);
    box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);
}

.projectcon2{
    height: 300px;
    width: 700px;
}
.projectcon2txt{
    font-size: 1.5rem;
    color: white;
    font-family: 'Rajdhani', sans-serif;

}

.secondimg{
    height: 300px;
    width: 400px;
    border-radius: 30px;
}

#marvelpng{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    transition-duration: 0.60s;
}
#marvelpng:hover{
    width: 110%;
    height: 110%;
    -webkit-box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);
    box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);
}
.secondproject{
    display: flex;
    padding: 80px;
    justify-content: space-between;
    flex-wrap: wrap;
    

}


.secondtxt{
    width: 500px;
    height: 300px;
    font-size: 1.5rem;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}


.whatsnew{
    background-color: rgb(40, 42, 56);
    width: 100%;
    
}
#lasttxt{
    margin-left: 20px;
}

.heavyborder{
    height: 400px;
    border: 2px solid orange;
    border-radius: 30px;
}

.links2{
    height: 20px;
    width: 150px;
    margin-top: 40px;
    color: grey;
    display: flex;
    justify-content: space-between;
    animation: complete 2s ease-in both;
}

#ndmyimage{
    height: 100%;
    width: 100%;
    margin-left: -100px;
    -webkit-box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);
    box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);
}

.lastquot{
    height: 80px;
    margin-left: -300px;
    color: rgb(181, 181, 181);
    animation: complete 1s ease-in both;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    margin-top: 30px;
}
.lastcontent{
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .mepage{
        display: flex;
        flex-direction: column;
    }

    .tracking{
        left: 60%;
        width: 70px;
        
    }
    .notification{
        width: 50px;
        height: 20%;
        margin-left:30px;
        font-size: 7px;
    }

    .content{
    
        height: 100%;
        width: 400px;
        display: flex;
        flex-direction: column;
        
        margin-left: 0%;

        /* display: none; */
    }

    .leftside{
        margin-left: 10%;
    }
    .introall{

        margin-left:1px ;
        font-size:10px;
    }
    .leftsideri{

        width: 350px;
        justify-content: center;
    }

    .detail{
        font-size: 1.4rem;
    }
    .aftermecontent{
        width: 100%;
        height: 300px;
        
    }
    .after{
        width: 150px;
        height: 150px;
        font-size: 9px;
        -webkit-box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);
        box-shadow: -13px 26px 22px 0px rgba(0,0,0,0.75);

    }
    .roshancontent{
        font-size: 9px;
    }
    .contact{
        font-family: 'Rajdhani', sans-serif; ;
        color: orange;
        margin-left: -60%;
    }
    .skills{
        margin-top: 70%;
        height: 100%;
         
    }

    .skillbox{
        margin-left: 10%;
    }
    .secondtxt{
        font-size: 1rem;
        height: 70%;
    }

    .projectcon2txt{
        font-size: 1rem;
        margin-top: 100px;
        height: 20%;
    }

    .secondimg{
        margin-top: 70px;
    }

    #ndmyimage{
        height: 180px;
        width: 180px;
        margin-left: 20px;
        margin-top: -70px;
    }
    #lasttxt{
        margin-left:0px;
        font-size: 10px;
        margin-top: 50px;
    }

    #whatsnewtxt{
       margin-bottom: -50px;
       margin-left: -20px;
    }

    .lastquot{
        font-size: 10px;
        margin-left: 10px;
    }
  }